@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-color: #ffffff;
        --color-text-primary: #121212;
        --color-text-secondary: #2a2a2a;
        --color-text-tertiary: #717171;
        --color-text-link: #485bff;
    }

    :root[class~="dark"] {
        --bg-color: #121212;
        --color-text-primary: #ffffff;
        --color-text-secondary: #d0d0d0;
        --color-text-tertiary: #a0a0a0;
        --color-text-link: #b6bdff;
    }

    html {
        @apply scroll-smooth;
    }

    body {
        @apply px-400 md:px-500 lg:px-600 bg-page text-primary h-full antialiased;
    }

    body * {
        @apply motion-safe:transition-colors motion-safe:duration-200;
    }
}
